# Основные зависимости (ядро проекта)
Django==3.2.16
djangorestframework==3.14.0
djoser==2.1.0
Pillow==9.3.0
psycopg2-binary==2.8.6
gunicorn==20.0.4
python-dotenv==0.20.0

# Дополнительные зависимости (DRF-расширения и утилиты)
django-filter==2.4.0
djangorestframework-simplejwt==4.8.0
drf-yasg==1.21.4
drf-extra-fields==3.4.0
django-cors-headers==3.13.0
django-colorfield==0.7.2
reportlab==3.6.12
PyPDF2>=1.26.0